
		.main{
			width: 1200px;
			height: 100%;
			margin:0 auto;
			position: relative;
		}

		.sider-bar{
			position: fixed;
			right: 21px;
			top: 500px;
			width: 52px;
			height: 104px;
			background-color: #dcdde2;

		}
		.sider-bar .top{
			widows: 100%;
			height: 52%;
			background: #fff url(../img/置顶.png) center no-repeat;
		}
		.sider-bar .tel{
			widows: 100%;
			height: 52%;
			background: #fff url(../img/联系.png) center no-repeat;
		}
		.header{
			height: 80px;
		}
		
		.header .logo{
			float: left;
			width: 177px;
			height: 42px;
			background: #fff url(../img/logo.png) 0 0 no-repeat;
			margin-left: 67px;
			margin-top: 23px;
		}
		.header .nav{
			height: 100%;
			width: 708px;
			position: absolute;
			right: 0px;
			bottom: 0px;
			/*background-color: pink;*/
		}
		.nav .bar{
			position: relative;
			float: left;
			width: 4em;
			height: 22px;
			margin-left: 24px;
			margin-right: 60px;
			margin-top: 33px;
			
		}
		.nav a{
			font:16px/1 PingFangSC;
			color: #666666;
		}
		.nav .line{
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 4em;
			height: 1px;
			background-color: #b9ab77;
		}
		.nav .b0, .nav .w0{
			width: 2em;
		}
		.nav .bar:hover a{
			color: black;
		}
		.nav .bar:hover .line{
			display: block;
		}
		.nav .bar.active a{
			color: black;
		}
		.nav .bar.active .line{
			display: block;
		}
		.banner{
			height: 720px;
			background: #fff url(../img/banner1.png)  center no-repeat;
			// background-size:100% 100%;
		}
		.banner .arr{
			display: block;

			width: 50px;
			height: 80px;
			
		}
		.banner .pre{
			position: absolute;
			left: -50px;
			top: 50%;
			margin-top:-40px; 
			background: #d4d3d7 url(../img/左箭头.png) 15px 22px no-repeat;
		}
		.banner .next{
			position: absolute;
			right: -50px;
			top: 316px;
			background: #d4d3d7 url(../img/右箭头.png) 15px 22px no-repeat;
		}
		.banner .dot{
			float: left;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #bebec2;
			margin: 0 9px;
			border:5px solid transparent;
			background-clip: content-box;
			cursor: pointer;
		}
		
		.banner .dots{
			position: absolute;
			left: 50%;
			/* 向左移动自身的一半
	不定宽的情景 */
			transform: translateX(50%);
			bottom: 21px;
		}
		.banner .dots .active{
			background-color:#fff;
			border-color:  #bebec2;
		}
		.banner .dia{
			display: block;
			position: absolute;
			right: 60px;
			bottom: 220px;
			width: 216px;
			height: 61px;
			background: #fff url(../img/more.png) center no-repeat;
		}
		.dress{
			// height: 730px;
			background-color: #fff;
			// margin-top: 100px;
		}
		.theme .cn{
			font-size: 26px;
			font-weight: bold;
			color:#5d5d5d;
		}
		.theme .en{
			font-size: 16px;
			color:#c1c1c1;
			line-height: 34px;
		}
		.theme{
			text-align: center;
			padding-top: 100px;
		}
		.more{
			display: block;
			width: 150px;
			height: 45px;
			border: 1px solid #f5f5f5;
			text-align: center;
			line-height: 45px;
			margin:0 auto;
			margin-bottom: 60px;
			font-size: 12px;
			clear: both;
		}
		.dress .category {
			height: 32px;
			// width: 570px;
			margin-top: 72px;
			// margin-left: 50%;
			text-align: center;
			 
		}
		.category li{
			// float: left;
			position: relative;
			height: 100%;
			display: inline-block;
			margin:0 45px;

		}
		.category a{
		// 	display: block;
		// 	width: 80px;
		color:#4d4d4d;
		}
		.category .dot1{
			position: absolute;
			bottom: 0;
			right: 50%;
			display: none;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #b9ab77;
		}
		.category li:hover a{
			color:#b9ab77;
		}
		.category li:hover .dot1{
			display: block;
		}
		.category .active a{
			color:#b9ab77;
		}
		.category .active .dot1{
			display: block;
		}
		.dress .show{
			height: 360px;
			margin-top: 40px;
			margin-bottom: 59px;
		}
		.show .pic{
			display: block;
			float: left;
			width: 270px;
			height: 360px;
			text-align: center;

			font-size: 12px;
			
			color:white;
			line-height: 36px;
		}
		

		.show .p1{
			background: #fff url(../img/dress-pic1.png) center no-repeat;
			margin-right: 40px;
		}
		.show .p2{
			background: #fff url(../img/dress-pic2.png) center no-repeat;
		}
		.show .p3{
			background: #fff url(../img/dress-pic3.png) center no-repeat;
			margin: 0px 40px;
		}
		.show .p4{
			background: #fff url(../img/dress-pic4.png) center no-repeat;
		}
		.show .price{
			display: none;
			width: 100%;
			height: 100%;
			background-color: rgba(193, 193, 193, 0.5);
		}
		.show .p1:hover .price{
			display: block;
		}
		.show .active .price{
			display: block;
		}
		.jewelry{
			background-color: #f9f9f9;
		}
		.jewelry .int{
			height: 180px;
			margin-top: 50px;
			margin-bottom:60px;
		}
		.int .pic{
			position: relative;
			display: block;
			float: left;
			width: 270px;
			height: 180px;
		}
		.int .p1{
			background: #fff url(../img/int-pic1.png) center no-repeat;
			margin-right: 40px;
		}
		.int .p2{
			background: #fff url(../img/int-pic2.png) center no-repeat;
		}
		.int .p3{
			background: #fff url(../img/int-pic3.png) center no-repeat;
			margin: 0px 40px;
		}
		.int .p4{
			background: #fff url(../img/int-pic4.png) center no-repeat;
		}
		.jewelry .pic a{
			display: none;
			position: absolute;
			bottom: 0;
			height: 60px;
			width: 100%;
			background-color: rgba(155, 155, 155, 0.5);

		}
		.int .h1{
			font-size: 14px;
			color:white;
			line-height: 25px;
			margin-left: 18px;
		}
		.int .h2{
			margin-left: 18px;
			font-size: 12px;
			color:#c1c1c1;
			line-height: 22px;
		}
		.jewelry .pic:hover a{
			display: block;
		}
		.jewelry .active a{
			display: block;
		}
		.activies {
			// height: 876px;
			// position: relative;
			background: #fff url(../img/latest.png) center 208px no-repeat;
		}
		.activies .content{
			// position: absolute;
			margin-top: 244px;
			margin-bottom: 60px;
			width: 1200px;
			height: 334px;
			// background-color: pink;
		}
		.content .event{
			// display: block;
			float: left;
			width: 300px;
			height: 334px;
			background-color: #fff;
		}
		.content .e2{
			background: #fff url(../img/活动图片.png) center no-repeat;
		}
		.content .e1{
			width: 257px;
			height: 291px;
			color:#8b8b8b;
			padding-top: 43px ;
			padding-left: 43px;
			text-align: left;
		}
		.event .t1{
			font-size: 30px;
		}
		.event .t2{
			font-size: 14px;
		}
		.event .h2{
			font-size: 16px;
			color:black;
		}
		.event .h3{
			font-size: 13px;
			line-height: 22px;
			
		}
		.event a{
			color:#c7c7c7;
			font-size: 14px;
		}




		.designers{
			background-color: #4d4d4d;
		}
		.designers .cn{
			color:#f7f5f5;
		}
		.designers .person{
			// display: block;
			position: relative;
			margin-top: 50px;
			float: left;
			width: 277px;
			height: 453px;
			background-color: transparent;
		}
		.designers .d1{
			margin-left: 25px;
			background:  url(../img/jason.png) center 0 no-repeat;
			
		}
		
		.designers .d2{
			margin-left: 160px;
			margin-right: 160px;
			background:  url(../img/颜澈.png) center 0 no-repeat;
		}
		.designers .d3{
			margin-right: 24px;
			background:  url(../img/katherlne.png) center 0 no-repeat; 
		}
		.designers .introduce{
			margin-top: 205px;
			text-align: center;
		}
		.introduce .name{
			font-size: 24px;
			color:#f7f5f5;
			line-height: 25px;
		}
		.introduce .duty{
			font-size: 12px;
			line-height: 22px;
			color:#9a9a9a;
		}
		.person .add{
			position: absolute;
			bottom: 60px;
			left:50%;
			margin-left: -75px;
			width: 150px;
			height: 27px;
			font-size: 12px;
			text-align: center;
			color:#9e9d9d;
			border-bottom: 1px solid #bbbaba;
		}
		.designers .clear{
			clear: both;
		}


		.footer{
			position: relative;
			height: 100px;
			font-size: 12px;
			line-height: 26px;
			color:#404040;
		}
		.footer .relation{
			position: absolute;
			line-height: 100px;
			right: 0;
			top: 0;
		
			
		}
		.footer a{
			display: inline-block;
			margin-left: 60px;
			color:#404040;
		}