.main{
			width: 1200px;
			height: 100%;
			margin:0 auto;
			position: relative;
		}
.contact .main,
.brand .main{
			width: 1080px;
}
.header{
			height: 80px;
		}
		
		.header .logo{
			float: left;
			width: 177px;
			height: 42px;
			background: #fff url(../img/logo.png) 0 0 no-repeat;
			margin-left: 67px;
			margin-top: 23px;
		}
		.header .nav{
			height: 100%;
			width: 708px;
			position: absolute;
			right: 0px;
			bottom: 0px;
			/*background-color: pink;*/
		}
		.nav .bar{
			position: relative;
			float: left;
			width: 4em;
			height: 22px;
			margin-left: 24px;
			margin-right: 60px;
			margin-top: 33px;
			
		}
		.nav a{
			font:16px/1 PingFangSC;
			color: #666666;
		}
		.nav .line{
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 4em;
			height: 1px;
			background-color: #b9ab77;
		}
		.nav .b0, .nav .w0{
			width: 2em;
		}
		.nav .bar:hover a{
			color: black;
		}
		.nav .bar:hover .line{
			display: block;
		}
		.nav .bar.active a{
			color: black;
		}
		.nav .bar.active .line{
			display: block;
		}

		.banner{
			height: 270px;
			background: #fff url(../img/关于banner1.png)  center no-repeat;
			// background-size:100% 100%;
		}
		
		.theme .cn{
			font-size: 26px;
			font-weight: bold;
			color:#5d5d5d;
		}
		.theme .en{
			font-size: 16px;
			color:#c1c1c1;
			line-height: 34px;
		}
		.theme{
			text-align: center;
			padding-top: 100px;
			padding-bottom: 68px;
		}

		.brand .img{
			float: left;
			margin-right: 67px;
			margin-bottom: 49px;
			width: 433px;
			height: 314px;
			background: #fff url(../img/Cabinet.png) center no-repeat;
			font-size: 30px;
			text-align: center;
			line-height: 314px;
			color:#ffffff;
		}

		.brand .article{
			font-size: 16px;
			color:#6b6b6b;
			text-indent: 2em;
			line-height: 28px;
			margin-bottom: 65px;
		}
		.contact .background{
			height: 345px;
			width: 100%;
			margin-bottom: 14px;
			background: #fff url(../img/contact.png) center  no-repeat;
		}
		.contact .site{
			position: relative;
			background: #fff url(../img/site.png) 0 0 no-repeat;
			width: 473px;
			height: 263px;
			margin-top:36px;
			margin-right: 39px;
			// margin-bottom: 60px;
		}
		.contact .adress{
			position: absolute;
			bottom: 0px;
			left: 512px;
			text-align: left;
			font-size: 16px;
			line-height: 30px;
			color:#898888;
			width: 100%;
		}
		.contact h1{
			font-size: 26px;
			color:black;
			line-height: 60px;
		}
		.contact p{
			font-size: 16px;
			line-height: 30px;
			color:#898888;
		}
		
		.contact {
			margin-bottom: 60px;
		}

		.footer{
			position: relative;
			height: 100px;
			font-size: 12px;
			line-height: 26px;
			color:#ffffff;
			background-color: #4d4d4d;
		}
		.footer .relation{
			position: absolute;
			line-height: 100px;
			right: 0;
			top: 0;
		
			
		}
		.footer a{
			display: inline-block;
			margin-left: 60px;
			color:#ffffff;
		}